body {
    text-align: center;
}

/*html { 
  background: url('../mario-one-gameplay-arcade-classic-game.jpg') no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}*/

#gameOver  {
	font-size: 72pt;
	font-family: cursive;
	color: red;
}

#press  {
	font-size: 36pt;
	font-family: cursive;
	color: yellow;
}

#game  {
	z-index: 1;
	visibility: hidden;
	display: block;
	position: absolute;
	top: 9em;
	left: 23em;
}

#final  {
	font-size: 30pt;
	font-family: cursive;
	color: blue;
}

#scoreBoard  {
	background-color: green;
	height: 50px;
	width: 505px;
	margin:0px auto -40px auto;
	font-size: 14pt;
	font-family: cursive;
	color: white;
}

.text {
	margin-top: 40px;
}